body{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
article{
    width: 95%;
    height: 1080px;
    margin: 50px auto;
}
header{
    height: 100px;
    background-color: aqua;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
header>span{
    line-height: 100px;
}
footer{
    background-color: black;
    color: white;
    height: 120px;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.photo{
    width: 18%;
    background-color: brown;
    height: 1000px;
}
.left{
    margin-right: 2%;
}
.center{
    width: 50%;
    height: 1000px;
    background-color: cadetblue;
}
.over{
    height: 450px;
}
.under{
    height: 450px;
    background-color: blueviolet;
}
.right{
    margin-left: 2%;
}

.inblo{
    display: inline-block;
    vertical-align: top;
}