body{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-image: url(images/board.jpg);
    color: rgb(80, 80, 80);
}
article{
    width: 95%;
    height: 1080px;
    margin: 50px auto;
}
header{
    height: 100px;
    background-color: rgb(173, 120, 50);
    width: 100%;
    text-align: center;
    font-size: 30px;
}
header>span{
    line-height: 100px;
    font-weight: bold;
    color: white;
    font-size: 40px;
}
footer{
    background-color: black;
    color: white;
    height: 120px;
    margin-top: 200px;
    position: absolute;
    width: 100%;
}
.photo-box{
    width: 18%;
    height: 1000px;
}
img{
    vertical-align: top;
    margin-top: 30px;
}
.left{
    margin-right: 2%;
}
.center{
    width: 50%;
    height: 1000px;
    background-color: rgba(95, 158, 160, 0.452);
}
.over{
    height: 450px;
}
.under{
    height: 450px;
    background-color: rgba(137, 43, 226, 0.452);
}
.right{
    margin-left: 2%;
}

.inblo{
    display: inline-block;
    vertical-align: top;
}
h1{
    color: rgb(58, 58, 58);
}